<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../staticfiles/static/css/index.css">
      <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="hero-section">
        <p>

        <h1>Mechual Backend <span>MechBot</span> </h1>
        <p>The Aim of this project is to develop a vision based robot.</p>
        </p>
    </div>

    <section>
        <div class="simulation">
            <h2>Simulation</h2>
            <p class="main-description">For simulation, we used <a href="https://www.coppeliarobotics.com/">V-rep
                    Coppeliasim</a> as a ROBOT
                simulator. For programming we used <a href="https://www.python.org/">Python</a> and <a
                    href="https://pypi.org/project/yolov5/">Opencv</a> library for Image Processing </p>

        </div>


    </section>


</body>

</html>